body{
  background-color: lightblue;
  margin: 0;

}

.heading{
  background-color: blue;
  height: 100px;
  width: 100%;

}

.wrapper{
  max-width: 400px;
  margin: 0px auto;

}
.date{
  font-family: sans-serif; color: white;
  float: left;

}
