body{
  background-color: lightblue;
  margin: 0;

}

.heading{
  background-color: blue;
  height: 100px;
  width: 100%;

}

.wrapper{
  max-width: 900px;
  margin: 0px auto;

}
.date{
  font-family: sans-serif; color: white;
  float: left;

}
h1{
  font-family: sans-serif; color: purple;
  font-weight: bold;
  text-align: center;
  font-size: 30px;
}

.navigation{
  font-family: sans-serif; color: white;
  float: right;
  text-decoration: none;
  padding: 10px;

}
